<!doctype html>
  <head>
    <title>Music Room | {{ room.name() }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/room.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.rdio.js') }}"></script>
    <script>
      $(function () {
        $('#rdio').bind('playingTrackChanged.rdio', function (event, playingTrack, sourcePosition) {
          $('#song-info img').hide();
          $('.song').html(playingTrack.name);
          $('.artist').html(playingTrack.artist);
          $.getJSON('{{ url_for('play', room_id=room.id()) }}', function (data) {
            $('#rdio').rdio().queue(data.rdio_id);
          });
        });

        $('#rdio').bind('ready.rdio', function (event, userInfo) {
          $.getJSON('{{ url_for('start', room_id=room.id()) }}', function (data) {
            $('#rdio').rdio().play(data.rdio_id);
          });
        });

        $.ajax('{{ url_for('playback_token') }}').done(function (data) {
          $('#rdio').rdio(data);
        });
      });
    </script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        Music Room | {{ room.name() }}
      </div>
      <div id="song-info">
        <img src="{{ url_for('static', filename='img/loading.gif') }}">
        <span class="song"></span>
        <span class="artist"></span>
      </div>
    </div>
    <div id="rdio"></div>
  </body>
</html>
