<!doctype html>
  <head>
    <title>Music Room | {{ room.name() }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/room.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.rdio.js') }}"></script>
    <script>
      var socket = io.connect('http://localhost:5001');
      socket.on('connect', function () {
        socket.emit('subscribe', {room: '{{ room.id() }}'});
      });
      socket.on('joined', function (data) {
        $('#listener-list em').remove();
        $('#listener-list').append('<li>' + data.name + '</li>');
      });
    </script>
  </head>
  <body>
    <div id="rdio"></div>
    <div id="wrapper">
      <div id="header">
        Music Room | {{ room.name() }}
      </div>
      <div id="content">
        <ul id="links">
          {% if in_room %}
          <li id="leave-link"><a href="{{ url_for('leave', room_id=room.id()) }}">Leave Room (as Listener)</a></li>
          {% else %}
          <li id="join-link"><a href="{{ url_for('join', room_id=room.id()) }}">Join Room (as Listener)</a></li>
          {% endif %}
          {% if is_owner %}
            {% if room.num_members() > 0 %}
            <li id="start-link"><a href="{{ url_for('playback', room_id=room.id()) }}">Start Playback</a></li>
            {% elif in_room %}
            <li id="listen-link"><a href="{{ url_for('listen', room_id=room.id()) }}">Listener Page</a></li>
            {% endif %}
            <li id="delete-link"><a href="{{ url_for('delete', room_id=room.id()) }}">Delete Room</a></li>
          {% endif %}
        </ul>
      </div>
      <div id="clear">
    </div>
  </body>
</html>
