#wrapper {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#header {
  width: 100%;
  font-size: 20px;
  color: #666666;
  text-align: center;
}

ul#links {
  list-style-type: none;
  text-align: center;
}
ul#links li {
  display: inline-block;
  margin: 0px 5px 0px 5px;
  font-size: 12px;
  font-family: helvetica, sans-serif;
}
ul#links li a {
  color: #111111;
}

#content {
  margin-top: 50px;
}

#song-info {
  width: 100%;
  margin: 40px 0px 0px 0px;
  text-align: center;
}
#song-info span {
  display: block;
  text-align: center;
}
#song-info span.song {
  font-size: 40px;
}
#song-info span.artist {
  font-size: 20px;
}

#feedback {
  font-size: 30px;
}

#feedback span {
  display: inline-block;
  cursor: pointer;
}
